<div class="container" style="max-width:471px;">
      <div class="card text-center">
        <form class="form-signin" (ngSubmit)="loginUser($event)">
          <img class="mb-4" src="assets/img/abacus-logo.png" alt="" width="60%" height="72" style="margin-top:20px;">
          <h1 class="h3 mb-3" style="font-size:30px;font-family:Catamaran;color:#504236;font-weight:bold;">Analytics Workbench</h1>
          <label for="inputEmail" class="sr-only"  >Username</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus style="font-family:Catamaran;color:#504236;box-shadow:none;"/>
          <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-toggle="password" style="font-family:Catamaran;color:#504236;box-shadow:none;"/>        
            <div class="checkbox mb-3" style="font-size:15px;font-family:Catamaran;font-weight:none;">
            <label style="float:left;margin-bottom:25px;color:#504236;">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <a href="#" style="float:right;color:#504236;margin-bottom:25px;">Forgot Password ?</a>
           </div>
          <button class="btn btn-primary" type="submit" style="background-color: #eeebe8;font-family:Catamaran;color:#504236;border-color:#eeebe8;min-width:150px;margin-bottom:20px;border-radius:1.25rem;">Sign in</button>
          <br/>
          <button class="btn btn-primary" type="submit" style="background-color: #eeebe8;font-family:Catamaran;color:#504236;border-color:#eeebe8;min-width:150px;border-radius:1.25rem;">Sign Up</button>
        </form>
      </div>
    <div>


  
